* {
	padding:0em;
	margin:0;
	font-size:100%;
	line-height:1em;}

/*---Images---*/

.logo{width:18%;
    padding:3% 0 3% 0;
    display:block;
    margin-left:auto;
	margin-right:auto;}

.title-images{
    padding-left:5%;
    padding-right:5%;
}

.tv-title{width:12em;} 

ul {
  list-style-type:none;
  margin:0;
  padding:1em 0em 1em 0em;
  text-align:center;
}

ul li {
  display:inline-block;
  margin:0 1em 1em 0;
  position:relative;}

/*---Footer---*/

footer{font-family: sans-serif;
    font-size:1.1em;
	color:#db3216;
    text-align:center;
	margin-top:2em;;
	width:100%;
	background:#fff;
	text-decoration:none;}

.leah-link{padding:1.5em 0 1.1em 0;}

.leah-link a{color:black; text-decoration:none;}

.leah-link a:hover{color:#db3216;}

/*----MEDIA QUERIES-----*/

/*---TABLET---*/

@media (max-width:979px) {

.logo{width:30%;}

.title-images{
    padding-left:1%;
    padding-right:1%;
}

.tv-title{width:25em;} 

footer{font-size:.8em;}

.leah-link{padding:0 0 1.1em 0;}

}
	
/*---SMARTPHONE---*/

@media (max-width:414px) {

    .logo{width:50%;}

.title-images{
    padding-left:2%;
    padding-right:2%;
}

.tv-title{width:20em;} 

footer{font-size:1em;}

}

